    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Tradecraft Mentors</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav nav-pills">
                  <li id="allTrackTab" role="presentation"><a href="/">All-track</a></li>
                  <li id="engTab" role="presentation"><a href="/eng">Engineering</a></li>
                  <li id="pdTab" role="presentation"><a href="/pd">UX/Product Design</a></li>
                  <li id="growthTab" role="presentation"><a href="/growth">Growth</a></li>
                  <li id="salesTab" role="presentation"><a href="/sales">Sales/BD</a></li>
                  <li id="oddbaby"><a id="suggestions" href="mailto:troy@tradecrafted.com,wen@tradecrafted.com,mowens+mentos@tradecrafted.com?subject=Feedback/Suggestions&amp;body=How can we improve this site? Tell us below:">Feedback?</a></li>
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      
    <div class="container">
      <div class="blockquote">
        <blockquote>
        <p>View upcoming mentors, past mentors, and schedule new ones.</p>
        </blockquote>
      </div><br />


      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Upcoming Mentors <small>Upcoming mentors scheduled to speak</small></h4> 
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Title, Company</th>
              <th>Student</th>
              <th>Add to gCal</th>
            </tr>
          </thead>
          <tbody>
            {{#each upcoming}}
            <tr>
              <th>{{datetime}}</th>
              <td>
              {{#if linkedin}}
                <a href="{{linkedin}}" target="_blank">
              {{/if}}
              {{mentorname}}
              {{#if linkedin}}
              </a>
              {{/if}}
              </td>
              <td>{{titlecompany}}</td>
              <td>{{student}}</td>
              <td><a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Mentor%20Talk:%20{{mentorname}}&dates={{datetimeCalendar}}&location=855%20Front%20St%20San%20Francisco&sprop=name:Name&sprop=website:EventWebite&details=Who:%20{{mentorname}}%20-%20{{titlecompany}}%0A%0ADetails:%20{{tellusaboutyourmentor}}&sf=true&output=xml" target="_blank" class="btn btn-danger btn-xs" role="button">Create Event</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div><br />

      <div class="panel panel-success">
        <div class="panel-heading">
          <h4>Open Mentor Slots <small>Book away!</small></h4> 
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Day/Time</th>
              <th>Book this slot</th>
            </tr>
          </thead>
          <tbody>
            {{#each slots}}
            <tr>
                <td>
                  {{this}}
                </td>
              <td><a class="formLink btn btn-primary btn-xs" role="button" target="_blank">Book now</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div><br />

      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4>Past Mentors <small>Previous mentors, info and links to audio (coming soon)</small></h4>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Title, Company</th>
              <th>Student</th>
            </tr>
          </thead>
          <tbody>
            {{#each past}}
            <tr>
              <th>{{datetime}}</th>
              <td>
              {{#if linkedin}}
                <a href="{{linkedin}}" target="_blank">
              {{/if}}
              {{mentorname}}
              {{#if linkedin}}
                </a>
              {{/if}}
              </td>
              <td>{{titlecompany}}</td>
              <td>{{student}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div><br />

    <hr>

    <div id="footer">
      <div class="container">
        <center><p class="text-muted credit">Made with &hearts; from TC Eng (upstairs...in the cloud)</p></center>
      </div>
    </div>

  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        var trackTab = location["pathname"].replace("/", "");

        switch (trackTab) {
          case "eng": 
            $("#engTab").addClass("active")
            $(".formLink").attr("href", "//goo.gl/forms/qmgKtfImJH")
            break;
          case "pd": 
            $("#pdTab").addClass("active")
            $(".formLink").attr("href", "//goo.gl/forms/CBdQifPVMp")
            break;
          case "sales": 
            $("#salesTab").addClass("active")
            $(".formLink").attr("href", "//goo.gl/forms/eZhpXe5Sur")
            break;
          case "growth": 
            $("#growthTab").addClass("active")
            $(".formLink").attr("href", "//goo.gl/forms/f3ew0ZDQ9V")
            break;
          default: 
            $("#allTrackTab").addClass("active")
            $(".formLink").attr("href", "//goo.gl/forms/3cxmi9HAa2")
        }
      });

    </script>

    <script>
      //ajax for in-page loading
    </script>
    
{{!-- google analytics --}}
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-63572821-1', 'auto');
 ga('send', 'pageview');

</script>




